{%  liquid 
    assign title = section.settings.title
    assign title_size = section.settings.title_size
    assign title_color = section.settings.title_color
 %}

 <div class="container">
    <h2>{{ title }}</h2>



<ul>
    {% for block in section.blocks %}
        <li>
            <img src="{{ block.settings.icon |  img_url: '500x' }}" width="500px" height="auto" alt="{{ block.settings.icon.alt }}">
            <p>{{ block.settings.title }}</p>
        </li>
    {% endfor %}
</ul>

 </div>

<div class="container">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus adipisci rem fuga aut ullam tempora exercitationem architecto deserunt dolore nesciunt.
</div>

{% style %}

#shopify-section-{{ section.id }} .container {
    {%  if section.settings.select_bg == 'color' %}
        background: {{ section.settings.section_bg }};
    {%  elsif section.settings.section_bg == 'image' %}
        background: url('{{ section.settings.section_bg_image |  image_url: '1200x500'}}');
    {% endif %}
}
#shopify-section-{{ section.id }} ul{
    display: flex;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
}
#shopify-section-{{ section.id }} ul li{
    display: flex;
    background: #005123;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
}
#shopify-section-{{ section.id }} ul li image{
    width: 30px;
}
#shopify-section-{{ section.id }} ul li p{
    color: red;
    font-size: 30px;
    margin: 0;
}

    .container{
        max-width: {{section.settings.container}};
        margin: 0 auto;
        padding: {{section.settings.padding_top}} px 20px  {{section.settings.padding_bottom}} px;
        background: {{ section.settings.section_bg }}
}

    #shopify-section-{{ section.id }} h2{
        font-size: {{ title_size }};
        color: {{ title_color }};
    }


{% endstyle %}

{%  schema  %}  
{
    "name": "Section",
    "class": "custom_section",
    "tag": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "blocks": [
        {
            "type": "icon",
            "name": "Icon",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "lorem Ipsum dolor sit smet"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "select",
            "id": "container",
            "default": "1200px",
            "label": "Layout",
            "options": [
                {
                    "label": "Full Width",
                    "value": "100%"
                },
                {
                    "label": "Container",
                    "value": "1200px"
                }
            ]
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "min": 0,
            "max": 200,
            "step": 5,
            "default": 50,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "min": 0,
            "max": 200,
            "step": 5,
            "default": 50,
            "unit": "px"
        },
        {
            "type": "select",
            "options": [
                {"label": "Color", "value": "color"},
                {"label": "Image", "value": "image"}
            ],
            "id": "select_bg",
            "default": "color",
            "label": "Select background"
        },
        {
            "type": "color_background",
            "id": "section_bg",
            "label": "Section background",
            "default": "black",
            "visible_if": "{{ section.settings.select_bg == 'color' }}"
        },
        {
            "type": "image_picker",
            "id": "section_bg_image",
            "label": "Background Image",
            "visible_if": "{{ section.settings.select_bg == 'image' }}"
        },
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default": "This is Title"
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title Size",
            "options": [
                {"label": "Large", "value": "50px"},
                {"label": "Medium", "value": "40px"},
                {"label": "Small", "value": "30px"},
                {"label": "Extra Small", "value": "24px"},
            ],
            "default": "40px",
            "visible_if": "{{ section.settings.title != blank}}"
        },
        {
            "type": "color",
            "default": "#000",
            "id": "title_color",
            "label": "Title Color",
            "visible_if": "{{ section.settings.title != blank}}"
        }
    ],
    "presets": [
        {"name": "Section"}
    ]
}

{% endschema %}